<form class="createPost-form">
    <div>
        <label for="postTitle">Title of Post:</label>
        <input type="text" id="postTitle" />
    </div>
    <div>
        <p>Content</p>

        <textarea id="content-textarea" name="content-textarea"></textarea>

    </div>
    <div>
        <button type="submit">Submit Blog Post</button>
    </div>
</form>

<script src="/javascript/createPost.js"></script>