<form class="createPost-form border">
    <div class="m-3">
        <label class="form-label" for="postTitle">Title of Post:</label>
        <input class="form-control" type="text" id="postTitle" />
    </div>
    <div class="m-3">
        <label class="form-label" for="content-textarea">Content: </label>
        <textarea class="form-control" id="content-textarea" name="content-textarea"></textarea>

    </div>
    <div>
        <button class="btn btn-primary" type="submit">Submit Blog Post</button>
    </div>
</form>

<script src="/javascript/createPost.js"></script>