<h1>Welcome {{user.username}} this is your Dashboard!</h1>

<h2>Here are your blog posts:</h2>
<div class="card">
    {{#each user.posts as |post|}}
    {{> blog post}}
    {{/each}}
</div>

<button id="addPost" class="btn btn-primary">Add a New Blog Post</button>

<script src="/javascript/post.js"></script>