<form class="updatePost-form">
    <div>
        <label for="updatedTitle">Title of Post:</label>
        <input type="text" id="updatedTitle" value="{{post.title}}" />
    </div>
    <div>
        <p>Content</p>

        <textarea id="updated-textarea" name="updated-textarea">{{post.content}}</textarea>

    </div>
    <div>
        <button type="submit">Update Blog Post</button>
    </div>
</form>
<div>
    <button id="deletePost">Delete Blog Post</button>
</div>

<script src="/javascript/editPost.js"></script>