<form class="login-form border">
    <h2>Log In</h2>
    <div class="mb-3">
        <label class="form-label" for="username-login">Username:</label>
        <input class="form-control" type="text" id="username-login" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="password-login">Password:</label>
        <input class="form-control" type="password" id="password-login" />
    </div>
    <div>
        <button class="btn btn-primary btn-lg" type="submit">Login</button>
    </div>
</form>
<div>
    <button id="signup" class="btn btn-secondary btn-sm"> Signup instead</button>
</div>



<script src="/javascript/login.js"></script>