<form class="signup-form">
    <div>
        <h2>Sign Up</h2>
    </div>
    <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">signup</button>
    </div>
</form>
<div>
    <button id="login" class="btn-no-style"> Login instead</button>
</div>

<script src="/javascript/signup.js"></script>